body{
    background-color: gray;
    color: white;
}
h1{
    font-size: 60px;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color:red;
    background-color: transparent;
    text-decoration: underline;
}
a:active{
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
.loremipsum{
    background-color: tomato;
    color:white;
}
