<!--
Sidebar html file so that the sidebar is Consistent on all Subpages
-->
<nav id="sidebar">
	<div id="head">
		<p>Meine Website</p>
	</div>
	<div id="menu-wrapper">
		<ul>
			<li><a href="frontPage.html">Home</a></li>
			<li><a href="firstpage.html">My first Page</a></li>
			<li><a href=https://gitlab.com/kevinschroers98>Gitlab</a></li>
			<li><a href=http://192.168.2.228/admin/>PiHole</a></li>
		</ul>
	</div>
</nav>
