body {
    background-color: #263238;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
}
*{
    box-sizing: border-box;
}


#sidebar{
    display: grid;
    grid-template-rows: max-content auto;
    background-color: #192227;
    position: fixed;
    top:0;
    width: 10%;
    bottom: 0;
    left:0;
    font-weight: 500;
    font-size: 15px;

}

#sidebar div{
	display: grid;
}

#sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 100%;
}
#sidebar ul li{
    text-align: center;
}
#sidebar ul li a{
    display: block;
    color: #eee;
    text-decoration: none;
    padding-bottom: 7px;
    padding-top: 7px;
}
#sidebar ul li a:link{
    text-decoration: none;
}
#sidebar ul li a:visited{
    text-decoration: none;
}
#sidebar ul li a:hover{
    display: block;
    text-decoration: none;
    background-color: #464B5D;
    color: #FF5370;
}
#sidebar ul li a:active{
    text-decoration: none;
    background-color: #464B5D;
}
#head{
    min-width: 100%;
    background-color: #717CB4;
}
#head p {
	text-align: center;
	font-size: 100%;
}
#body{
    margin-left: 10%;
    position: relative;
    min-height: 100%;
}

